<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sasuke.dailysuvichar">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".DailySuvicharApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.SplashScreen"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />>
        <activity android:name=".activity.ChooseInterestActivity" />
        <activity android:name=".activity.SubInterestActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity android:name=".activity.SelectActivity" android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>