<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sasuke.dailysuvichar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".DailySuvicharApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <data android:scheme="@string/fb_login_protocol_scheme" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChooseInterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubInterestActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".activity.HomeActivity" -->
        <!-- android:configChanges="orientation|screenSize" -->
        <!-- android:hardwareAccelerated="true" /> -->
        <activity
            android:name=".activity.SelectStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SelectPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SelectVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.FullScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!--  -->
            <!-- <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" /> -->


            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GuruDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newactivities.NewHomeyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newactivities.NewExploreyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newactivities.NewGurusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newactivities.NewMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newactivities.YourFeedsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".newnewactivities.GuruActivity"
            android:parentActivityName=".newactivities.NewMainActivity"/>
    </application>

</manifest>